.text-align-center{
    text-align: center;
}
.login-input-ctrl{
    background: #839641;
    border-radius: 5px;
    margin-bottom: 10px;
}

.logo{
    width:96px;
}

.input-icon-color{
    color:#444;
}

.input-border-radius{
    border-radius: 5px;
}

.logo-title{
    font-size: 20px;
    font-weight: bold;
}

.hr-line-center{
    border-top: 1px solid #ccc;
}